* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#about {
  width: 70vw;
  color: #eee;
  background: none;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 0 2rem #4a4a4a;
}

h2 {
  margin-top: 20px;
}

p {
  margin-top: 10px;
  line-height: 1.6;
}

ul {
  margin: 15px 20px;
}

ul li {
  margin-bottom: 8px;
  font-size: 1.05rem;
}


@media (max-width: 768px) {

  #about {
    width: 90vw;
    padding: 20px;
    text-align: center;
  }

  .content {
    margin-top: 1rem;
  }

  ul {
    text-align: left;
    margin-left: 1rem;
  }
}