* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: #eee;
}

#contact {
  width: 70vw;
  background: none;
  padding: 45px 30px;
  border-radius: 15px;
  box-shadow: 0 0 2rem #4a4a4a;
}


p {
  margin-top: 10px;
  font-size: 1.1rem;
}

form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  color: #eee;
  padding: 12px;
  border-radius: 6px;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: 0 0 1rem #4a4a4a;
  font-size: 1rem;
  transition: 0.1s ease-in;
}

#info:hover {
  transform: translateY(-0.2rem);
}

#info:focus {
  background-color: #1a1a1a;
}

textarea {
  min-height: 120px;
  resize: vertical;
}

textarea:focus {
  opacity: 80%;
}

.submit {
  width: 160px;
  padding: 12px;
  background: none;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 1rem #4a4a4a;
  transition: 0.3s ease;
}

button:hover {
  background: #363636;
  transform: translateY(-0.2rem);
}

button:active {
  opacity: 50%;
}

.social p {
  margin-top: 10px;
}

.link1 {
  text-decoration: none;
  color: #eee;
}

.link1:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {

  #contact {
    width: 90vw;
    padding: 25px;
    text-align: center;
  }

  input,
  textarea {
    font-size: 0.9rem;
  }

  .submit {
    width: 100%;
  }
}