* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(./pictures/background.webp);
    background-repeat:repeat y;
    background-size: cover;
    background-color: #181817;
}

/*header*/

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.buttons {
    margin-left: 0.2rem;
    padding: 0.5rem;
}

.btn {
    margin-right: 1.2rem;
    font-size: 1.1rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    background: none;
    border: none;
    color: #eee;
    cursor: pointer;
    box-shadow: 0 0 1rem 0.01rem #4a4a4a;
    transition: 0.1s ease-in;

}


.btn:hover {
    background: #363636;
    transform: translateY(0.2rem);
}

.btn:active {
    opacity: 50%;
}

.links {
    margin-top: 0.2rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.link {
    display: inline-block;
    margin-left: 1rem;
    text-decoration: none;
    color: #eee;
    font-size: 1.2rem;
    padding: 0.6rem;
    border-radius: 50%;
    box-shadow: 0 0 1rem 0.01rem #656565;
    transition: 0.1s ease-in;
}

.link:hover {
    background-color: #363636;
    transform: translateY(0.2rem);
}

.link:active {
    opacity: 50%;
}

/*content*/

.content {
    display: flex;
    align-items: last baseline;
    margin-top: 8rem;
    padding: 1rem;
    animation: slideFromTop 1s ease-out forwards;
}

@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-25rem);
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

.profile {
    width: 20rem;
    height: 24rem;
    background-image: url(./pictures/profile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 2rem #4a4a4a;
    border-radius: 1rem;
    margin-left: 3rem;
    animation: zommIn 1s ease-in 0s 1;
}

@keyframes zoomIn {
    from {
        position: absolute;
        top: 0;
    }

    to {
        position: relative;

    }
}

.intro {
    font-size: 2rem;
    color: #eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 1.5rem 2rem;
}

#name {
    font-size: 5rem;
}


@media (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 0.4rem 0.7rem;
        margin: 0;
    }

    .links {
        margin: 0;
        display: flex;
        gap: 0.8rem;
    }

    .content {
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
        text-align: center;
    }

    .profile {
        width: auto;
        height: 20rem;
        margin: 0;
    }

    .intro {
        margin: 1rem 0;
        font-size: 1.2rem;
    }

    #name {
        font-size: 2.8rem;
    }
}


@media (max-width: 480px) {
    .profile {
        width: 12rem;
        height: 16rem;
    }

    #name {
        font-size: 2.2rem;
    }
}