* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(./pictures/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*header*/

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.buttons {
    margin-left: 0.2rem;
    padding: 0.5rem;
}

.btn {
    margin-right: 1.2rem;
    font-size: 1.1rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    background: none;
    border: none;
    color: #eee;
    cursor: pointer;
    box-shadow: 0 0 1rem 0.01rem #4a4a4a;
    
}


/* Glow effect */
.btn:hover {
  background: #363636;
}

.btn:active {
    opacity: 50%;
}

.links {
    margin-top: 1rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.link {
    margin-left: 1rem;
    text-decoration: none;
    color: #eee;
    font-size: 1.2rem;
    padding: 0.6rem;
    border-radius: 50%;
    box-shadow: 0 0 1rem 0.01rem #656565;
    
}

.link:hover {
    background-color: #363636;
}

.link:active {
    opacity: 50%;
}
/*content*/

.content {
    display: flex;
    align-items:last baseline;
    margin-top: 8rem;
    padding: 1rem;
    animation: slideFromTop 0.8s ease-out forwards;
}

@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-25rem);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

.profile {
    height: 21rem;
    width: 16rem;
    background-image: url(./pictures/profile.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 2rem #4a4a4a;
    border-radius: 1rem;
    margin-left: 3rem;
    animation: zommIn 1s ease-in 0s 1;
}

@keyframes zoomIn {
    from {
        position: absolute;
        top: 0;
    }
    to {
        position: relative;

    }
}

.intro {
    font-size: 2rem;
    color: #76b2b6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 1.5rem 2rem;
}

#name {
    font-size: 5rem;
}